/*favorite styling*/
#content
{
   display:block;
   position: absolute;
   top: 5px;
   right: 5px;
   z-index: 10;
   text-shadow: 2px 2px 8px #000000;
   padding:0px;
}

#delcontent
{
  display:block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  text-shadow: 2px 2px 8px #ffffff;
  padding:0px;
}

i.fav-icon
{
  color: #b71c1c;
  z-index: 11;
}

i.deleteRec
{
  color: #000000;
  z-index: 11;
}

.social:hover
{
  font-weight: bold !important;
  color: #607d8b !important;
}

/*login error styling*/
.errorMsg
{  color:red;}

form.signup,form.login
{  margin-top: 50px;}

.navbar-default
{  background-color: #557280;}

#password, #email
{
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 00 #000;
	width:150px;
}
.active
{
	padding-bottom:5px !important;
	width:85% !important;
}

.capitalize
{ text-transform: capitalize; }

#clickSignup
{
	padding-right:3px;
	padding-left:3px;
}

h5
{
	line-height: 5% !important;
	margin:5px !important;
	font-weight: bold;
}

.header
{
  color: #ffffff;
  text-align: center;
  font-size:4.2rem !important;
	margin:5px !important;
	font-weight: none;
}

.mainForm
{  background-color: white;}

.outputArea
{	margin: auto;}

.btn
{	padding: 0 1rem !important;}

.card
{
	text-align: center;
	display: inline-block;
	float: left;
	margin: 10px 15px;
	position: relative;
	width: 300px;
	height: 370px;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.input-field input[type=text]
{
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  width:auto;
  height: auto;
}

#input_text
{
  font-weight:bold;
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:focus
{

     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e9ecef !important;
    color:#3e3f3f !important;

    }

  h2
  {    color:#3e3f3f !important;}

  main
  {  flex: 1 0 auto;}

  /* // FIX SIDENAV SPACING */
  .side-nav li>a
  {  padding: 0 16px;}

  /* //FIX SIDEBAR DIVIDERS */
  .side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
  }

  /* // SIDENAV HEADER */
  .sidenav-header
  {
    background: url("../images/user-bg.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0px;
    padding: 15px 0 0 15px;
    .row
    {  margin-bottom: 0;}
  }

.sidenav-footer
{
  margin-bottom: 0px;
  padding: 0;
  .row
  {
    margin-bottom: 0;
    .social-icons
    {
      a
      {
        opacity: 0.5;
        padding: 0;
        text-align:center;
        &:hover
        {
          background-color:inherit;
          opacity: 1;
        }
      }
    }
  }
}
