
.outputArea
{

	margin: auto;
}

.btn
{
	padding: 0 1rem !important;
}

.card {
	text-align: center;
	display: inline-block;
	float: left;
	margin: 10px 15px;
	position: relative;
	width: 300px;
	height: 370px;
	transform-style: preserve-3d;
	transition: all 1s ease;
	/*border-radius: 6px;
	border: 2.0px solid #C3D2A2;*/
	/*box-shadow:  0 4px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}



.input-field input[type=text]{
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  width:auto;
  height: auto;
}

#input_text
{
  font-weight:bold;
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:focus {

     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

// FIX SIDENAV SPACING
.side-nav li>a {
padding: 0 16px;
}
//FIX SIDEBAR DIVIDERS
.side-nav .divider {
margin:0;
height:8px;
border-bottom:1px solid #e0e0e0;
background-color: transparent;
}

// SIDENAV HEADER
.sidenav-header {
background: url("../images/user-bg.jpg") no-repeat center center;
background-size: cover;
margin-bottom: 0px;
padding: 15px 0 0 15px;
.row {
margin-bottom: 0;
}
}
.sidenav-footer {
margin-bottom: 0px;
padding: 0;
.row {
margin-bottom: 0;
.social-icons {
  a {
    opacity: 0.5;
    padding: 0;
    text-align:center;
    &:hover {
      background-color:inherit;
      opacity: 1;
    }
  }
}
}
}
